# Root-level files to ignore
private/
node_modules/
publish/
package-lock.json
yarn.lock

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/
out/
dist/
build/

# Environment variables
.env
.env.local
# .env.development.local
# .env.test.local
# .env.production.local

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio Code files
# .vscode/
.history/

# Visual Studio files
.vs/

# Rider files
.idea/

# Project-specific settings
*.csproj.user
*.dbmdl
*.dbproj.schemaview

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
**/project.lock.json
**/project.fragment.lock.json

# ASP.NET Core specific
appsettings*.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
*.db

# Secrets
secrets.json
*.pfx
*.p12

# Docker files
Dockerfile
docker-compose*.yml
.dockerignore

# Next.js specific
.next/
out/
*.next/

# Misc
*.tgz
*.zip
*.tar

